{% set intro = g.site_intro_text %}

<div style="padding:0 0" class="module-content">

  <div class="jumbotron">
    <div class="container caption">
      <h1>ECO-ENV SCIENCE DATA CENTER</h1>
      <p>The EESDC provides discovery, access and usability of eco-environmental data, tools, services and resources for analysis, understanding and decision-making.</p>
      

    
    </div>
  </div>
 {# <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </div>
  #}
  {% block home_image %}
   
  {% endblock %}
</div>

<style>
 .jumbotron{ 
  background: url(/base/images/space-world.jpg) no-repeat center center;
    background-size: cover;
    min-height: 350px;
    }

    .caption {
     /* position: absolute; */
    /* left: 15%;
    right: 15%; */
   
 
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}
</style>